{% extends 'base.html.twig' %}

{% block title %} Gérer les véhicules !{% endblock %}

{% block body %}
<style>
.img{
    width:50px;
    height:50px;
}

</style>
    <h1> Gérer les véhicules </h1>

<a href="/admin/vehicule/ajoutVehicule">
    <button type="button"  class="btn btn-primary btn-lg" <a href="/admin/vehicule/ajoutVehicule" >Ajouter un véhicule</button>
</a>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Moteur</th>
      <th scope="col">Vitesse</th>
      <th scope="col">Nombre de places</th>
      <th scope="col">Location</th>
      <th scope="col">Photo</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for vehicule in vehicule %}
    <tr class="table-active">
      <th scope="row">{{vehicule.ID}}</th>
      <td>{{vehicule.Type}} </td>
      <td>{{vehicule.caract.Moteur}} </td>
      <td>{{vehicule.caract.Vitesse}}</td>
      <td class="text-center">{{vehicule.caract.NombreDePlaces}}</td>
      <td>{{vehicule.Location}} </td>  
      <td><img src="{{ asset('uploads/vehicule_image/' ~ vehicule.image)}}" class="img" /></td>
      <td class="text-center">
      <a href="{{ path("admin_vehicule_modifier", {id: vehicule.id}) }}" >
      <button type="button" class="btn btn-secondary">Modifier</button>
       </a> 
       </td>

    </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}
