{% extends 'base.html.twig' %}

{% block title %} Liste{% endblock %}

{% block body %}

<style>
.img{
    width:50px;
    height:50px;
}

</style>

    <h1> Liste de vos factures </h1>


    <table class="table table-hover space_bottom">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom de la voiture</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Somme de la facture</th>
      <th scope="col">Etat du règlement</th>
    </tr>
  </thead>
  <tbody>

   {% for facture in factures %}
    <tr class="table-active">
      <th scope="row">{{facture.id}}</th>
      <td>{{facture.getIdV().getType()}} </td>
      <td>{{facture.getDateD()|date('d-m-Y')}} </td>
      <td>{{facture.getDateF()|date('d-m-Y')}} </td>
      <td>{{facture.valeur}} €</td>
      <td> 
        {% if facture.etat == 0 %}
            Non réglé
        {% else %}
            Réglé
        {% endif %}
      </td>

    {% endfor %}
    
  </tbody>
</table>

{% endblock %}

